<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Document</title>
</head>
<body>
    <div align="center">
        <div align="center" class="border">
           <div class="header">
              <h1 class="word">Profile</h1>
           </div></br></br></br>
          <h2 class="word">{{session.username}</h2>
            <h2 class="word">{{session.email}}</h2>
        </br></br></br>
        <a href="{{ url_for('logout') }}" class="btn">Logout</a>
          
        </div>
      </div>
</body>
</html>